#popupBody {
  min-width: 320px;
  overflow-x: hidden;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.status {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#rightStatusContainer {
  padding-top: 5px;
  bottom: 8px;
}

#actionStatus {
  padding-top: 3px;
}

#leftStatusContainer {
  padding-top: 5px;
  bottom: 8px;
}

#metaStatus {
  padding-top: 3px;
}

.settings {
  display: block;
  position: absolute;
  left: 304px;
}

#loader {
  display: none;
  position: fixed;
  left: calc(50% - 12px);
  border: 8px solid #F3F3F3;
  border-radius: 50%;
  border-top: 8px solid #3B98FF;
  width: 8px;
  height: 8px;
  bottom: 8px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.variableName {
  font-weight: bold;
}

.variableValue {
  font-weight: normal;
}

.aux_anchor {
  text-decoration: none;
}

.ticketForm {
  padding-top: 6px;
}

.ticketForm > #ticket {
  display: inline;
  width: 100px;
}

.data > input[type="checkbox"] {
  float: left;
  display: none;
}

#manBody {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 100%;
}

#userManual {
  float: right;
  position: static;
  padding-bottom: 25px;
}

#line {
  width: 100%;
}

#optionBody > button {
  width: 140px;
}

#settingsStatus {
  display: block;
  padding-top: 8px;
}
